<div class="dashboard-container">
  <h1>Student: {{ studentInfo.id }}</h1>

  <div class="dashboard-widgets">
    <div class="widget">
      <h2>Student Information</h2>

      <p *ngIf="!studentInfo">Invalid Student ID.</p>
      <div *ngIf="studentInfo"></div>
      <table class="refined-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Student ID</th>
            <th>Name</th>
            <th>
              <!-- Three-dot menu -->
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="More options"
              >
                <span> ⋮</span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog()">
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteStudent(studentInfo.id)">
                  <span>Delete</span>
                </button>
              </mat-menu>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img
                [src]="studentInfo.image"
                alt="{{ studentInfo.name }}"
                class="student-image"
              />
            </td>
            <td>{{ studentInfo.id }}</td>
            <td>{{ studentInfo.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
