<div class="container">
  <div class="sidebar">
    <h2>MAFIA Attendance</h2>
    <ul>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="/classes"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Classes
        </a>
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact
        </a>
      </li>
    </ul>
    <div>
      <h3>{{ welcomeMessage }}</h3>
      <button
        (click)="logout()"
        routerLink="/login"
        [hidden]="welcomeMessage === null"
      >
        LOGOUT
      </button>
    </div>
  </div>


  <div class="page-container">
    <div class="page-header">
      <h1>{{ currentPageTitle }}</h1>
    </div>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
