<div class="container">
  <div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="/classes"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Classes
        </a>
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About
        </a>
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact
        </a>
      </li>
    </ul>
    <div>
      <h3>{{ welcomeMessage }}</h3>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
