<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <div class="profile">
    <h2>Chen Chu</h2>
    <p>
      I'm a graduate student in Software Engineering at Arizona State University
      with a B.S. in Computer Information Systems from CSU Chico. I have
      experience in AI-powered applications, machine learning, and full-stack
      development. At DaRL Lab, I conducted research on traffic simulation,
      modifying a C++ simulator and integrating PyTorch models to predict
      vehicle behavior—resulting in a published paper. I’ve developed scalable
      web systems, intelligent agents, and microservice-based apps using tools
      like Python, C++, Docker, and AWS. Passionate about building smart,
      efficient systems, I enjoy solving real-world problems through innovative
      software solutions.
    </p>
    <img src="/chenChu.png" />
    <div>
      <a href="https://github.com/cchu37"
        ><i class="fa fa-github" style="font-size: 36px"></i
      ></a>
      <a href="https://www.linkedin.com/in/chen-chu-186ba1249/"
        ><i class="fa fa-linkedin-square" style="font-size: 36px"></i
      ></a>
    </div>
  </div>

  <div class="profile">
    <h2>Boan Li</h2>
    <p>
      Software Engineer M.S. I am currently a Technical supporter at
      Mettler-Toledo to help solve software and hardware problems for global
      market. This capstone is the best project in my M.S. journey at ASU. I
      worked as a software developer in UI design, backend client and 3D model
      design for the IoT attendance system.
    </p>
    <img src="/boanLi.jpg" />
    <div>
      <a href="https://github.com/AndrewEnder4396"
        ><i class="fa fa-github" style="font-size: 36px"></i
      ></a>
      <a href="https://www.linkedin.com/in/boan-li-6a7299298/"
        ><i class="fa fa-linkedin-square" style="font-size: 36px"></i
      ></a>
    </div>
  </div>

  <div class="profile">
    <h2>Zhiguo Ren</h2>
    <p>
      MS in Software Engineering. I’m currently passionate about computer
      vision, machine learning, and data science. For Capstone Project, I
      developed a flexible, energy-efficient face recognition system for
      automated classroom attendance that adapts to different scenarios. I enjoy
      turning emerging technologies into practical solutions that make a real
      impact.
    </p>
    <img src="/zhiguoRen.png" />
    <div>
      <a href="http://github.com/zren36a"
        ><i class="fa fa-github" style="font-size: 36px"></i
      ></a>
      <a href="http://linkedin.com/in/zhiguo-ren"
        ><i class="fa fa-linkedin-square" style="font-size: 36px"></i
      ></a>
    </div>
  </div>

  <div class="profile">
    <h2>Nathaniel Sullivan</h2>
    <p>
      I’m currently a Software Engineer at Geminid Systems, where I help develop
      solutions to complex business challenges across cloud infrastructure and
      enterprise platforms. This capstone project represents the culmination of
      my 4+1 journey at Arizona State University. Our team adopted Agile Scrum
      methodologies, using biweekly sprints to iterate quickly and
      collaboratively. The project drew on core concepts from the program,
      including client-server architecture, relational databases, and AWS Cloud
      Services. While our team collaborated across the full stack, I led the
      integration of our IoT device with the backend client-server system and
      owned the CI/CD pipeline. This included deploying our containerized
      services to a Raspberry Pi, ensuring a reliable and automated deployment
      workflow from development through production.
    </p>
    <img src="/nathanielSullivan.jpeg" />
    <div>
      <a href="https://github.com/nqsullivan"
        ><i class="fa fa-github" style="font-size: 36px"></i
      ></a>
      <a href="https://www.linkedin.com/in/nqsullivan/"
        ><i class="fa fa-linkedin-square" style="font-size: 36px"></i
      ></a>
    </div>
  </div>

  <div class="profile">
    <h2>Alvin Tran</h2>
    <p>
      I am currently an Associate Software Engineer at Imagine Learning. As part
      of my ongoing work, I am actively developing platform solutions, using
      full stack technologies and robust CI/CD, to aid in the development and
      delivery of educational content to students and teachers across the
      country. For this capstone project, I primarily developed key components
      of our backend service and client UI that were critical to the
      functionality of the overall system.
    </p>
    <img src="/alvinTran.jpg" />
    <div>
      <a href="https://github.com/atran50"
        ><i class="fa fa-github" style="font-size: 36px"></i
      ></a>
      <a href="https://www.linkedin.com/in/alvin-tran-923460223/"
        ><i class="fa fa-linkedin-square" style="font-size: 36px"></i
      ></a>
    </div>
  </div>
</html>
